/* COLORS */

$Green: #46B13D;
$WashedGreen: #b4eeaf;
$DarkGreen: #1C7714;
$White: #fff;
$Grey: #999;
$WashedWhite: #f1f1f1;
$Blue: #3860AD;
$WashedBlue: #EBF2FF;
$DarkBlue: #181059;
$Azure: #5C90F3;
$Yellow: rgb(255, 196, 0);
$Red: #EE6363;

/* END COLORS */