
@media only screen and (max-width: 768px) { 
	/* For mobile phones: */ 

	body #root {
		margin-top: 5px;
	}

	.col-nav {
		width: 100%;
		position: fixed;
		bottom: 0px;
		height: 60px;
		z-index: 10;

		.navigator-container {
			flex-direction: row;
			height: 60px !important;
			border: 0 none;
			justify-content: space-evenly;
			background-color: #fff;
			-webkit-box-shadow: 1px -7px 15px -5px rgb(0 0 0 / 24%);
			box-shadow: 1px -7px 15px -5px rgb(0 0 0 / 24%);

			.navigator-item {
				display: flex;
				align-items: center;
				justify-content: center;

				&.home {
					margin-bottom: 0px;
				}

				&.account {
					position: relative;
					bottom: 0;
				}
			}
		}
	}
	
	.col-content {
		width: 100%;
	}

	.main-container {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 50px;

		.editing-header {
			padding: 0px;

			button {
				margin: 5px;
			}
		}
			
		h2 {
			font-size: fontSizes.$sizteen;
		}

		button.btn-tab {
			width: 100%;
			text-align: left;
		}

		.overlay {
			.message-editing-content {
				margin-left: 5px;
    			margin-top: 6px;
			}
		} 

		textarea {
			min-height: 105px !important;
			max-height: 105px !important;
		}

		.edit-profile-col-40.selection {
			ul {
				justify-content: center;
			}
			.accordion-container.accordion-selected {
				padding: 0px;
			}
		}

		.video-gallery-container {
			justify-content: center;
		}

		.editing-core {
			padding-right: 0px;
			.edit-profile-col-60 {
				.big-picture-container {
					margin-right: 5px;
				}
			}
			&.accounts {
				.editing-tabs {
					left: 0;
				}
				button.btn-tab {
					width: 33%;
					text-align: center;
				}
				form.profile-edit {
					width: 100%;
				}
			}
		}

		.plans {
			justify-content: center;
			.plan-container {
				flex: 0 0 240px;
				left: 0px;
				margin-bottom: 30px;
			}
		}
		

		.billing-container table th, .billing-container table td {
			padding-right: 40px;
		}
		
	}


	.col-8 {
		width: 50%;
	}

}
