/* CUSTOM RESPONSIVE STYLING RESPONSIVE */
/* I DECIDED TO NOT USE BOOTSTRAP OR FRAMEWORK TO BE MORE ON FOCUS ON THE OWN DEMO STYLE AND MORE LIGHTWEIGHT */

// global styling and variables
// @use is the new way to @import that is going to be slowly deprecated
@use 'styles/global';
@use 'styles/colors' as colors;
@use 'styles/font-sizes' as fontSizes;
@use 'styles/icons';
@use 'styles/assets';
@use 'styles/buttons';
@use 'styles/inputs';
@use 'styles/form';

// development SCSS / custom styling

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.9);
    display: block;
    top: 0;
    left: 0;

	.message-editing-content {
		margin-left: 10%;
		margin-top: 42px;

		.message-editing-header {
			background-color: #fff;
			width: 50%;

			input.message-editing-header-input {
				border: 0px none;
				width: 100%;
				font-size: fontSizes.$twentytwo;
				color: colors.$Blue;
				font-weight: 500;
				border-radius: 0;
			}
			
			input.message-editing-header-input:focus {
				border-bottom: colors.$WashedBlue 1px solid;
			}
		}

		.message-editing {
			width: 55%;

			textarea.message-editing-input {
				width: 100%;
				height: 50px !important;
				padding-bottom: 5px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				border-radius: 0;
				max-height: 50px;
				min-height: 50px;
			}

			&.tags {
				margin-top: 24px;
			}
			
		}

		.message-submit {
			margin-top: 24px;
		}
	}
	
}

.tags {
	span {
		font-size: fontSizes.$fourteen;
		padding: 0 10px;
		color: colors.$Grey;
		height: 20px;
		border: colors.$Grey 1px solid;
		border-radius: 6px;
		margin-right: 10px;
		line-height: 20px;
		font-weight: 400;

		&.tag.small {
			font-size: 12px;
			height: 14px;
			line-height: 14px;
			margin-right: 5px;
			border-radius: 4px;
		}
	}
}

.selection {
	.accordion-container {
		background-color: colors.$White;
		color: colors.$Grey;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		height: 45px;

		&.first{
			margin-top: 29px;
		}

		.accordion-head {
			height: 45px;
			padding: 0px;
			position: relative;

			h4 {
				line-height: 45px;
				font-size: 14px;
				display: inline-block;
				margin: 0;
				padding: 0;
				font-weight: 500;
			}

			button {
				position: absolute;
				right: 8px;
				top: 20px;
			}
		}

		&.accordion-selected {
			background-color: colors.$WashedBlue;
			color: colors.$Blue;
			border-bottom: 0 none;
			height: auto;
			padding: 15px 8px 0px 8px;
			border-radius: 6px;

			.accordion-head {
				height: 21px;
				padding: 0px 6px;
				position: relative;
	
				h4 {
					line-height: 21px;
					font-size: 14px;
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: 500;
				}
	
				button {
					position: absolute;
					right: 8px;
					top: 10px;
				}
			}
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		justify-content: space-between;

		li {
			list-style: none;
			flex: 0 0 150px;
			text-align: center;
			margin: 0 5px;
			margin-bottom: 15px;

			&.full-width {
				flex: 0 0 100%;
			}

			
			label.gallery-label {
				font-size: 12px;
				line-height: 18px;
				color: #666;
				margin: 0px;
				padding: 0px;
				display: block;
				position: relative;
				top: -3px;
			}

			label[for="upload"].gallery-label, label[for="background-custom"].gallery-label {
				top: 0px;
			}

			&.selected {
				label.gallery-label {
					color: colors.$Blue;
				}
			}
		}
	}
}

.navigator-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;

	.navigator-item {
		width: 60px;
		height: 60px;
		background-color: transparent;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.home {
			margin-bottom: 45px;
		}

		&.account {
			position: absolute;
			bottom: 20px;
		}

		&.selected {
			background-color: #EBF2FF;

			&.home, &.account {
				background-color: transparent;
			}
		}
	}
}

.main-container {
	padding: 6px 14px 6px 30px;

	.editing-header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-left: 10px;
		padding-right: 30px;
	}

	.editing-core {
		margin-top: 20px;
		padding-right: 30px;

		&.accounts {
			.editing-tabs {
				position: relative;
				left: -20px;
			}

			form.profile-edit {
				width: 60%;
			}

			.portrait-container {
				margin: 40px 0;

				.portrait {
					display: inline-block;
					width: 100px;
					height: 100px;
					background-image: url('../public/images/portrait.png');
					display: inline-block;
					background-repeat: no-repeat;
					border-radius: 100px;
				}

				button.generic-icon.edit {
					margin-left: 20px;
					top: -30px;
				}
			}
		}

		.edit-profile-col-60 {
			width: 60%;
			flex-grow: 1;
			max-width: 60%;
			box-sizing: border-box;

			.big-picture-container {
				margin-right: 40px;
				background-color: #f4f4f4;
				padding: 20px;
				border-radius: 20px;

				.big-picture {
					position: relative;
					.preview-button {
						position: absolute;
						bottom: 26px;
						margin: 0 auto;
						left: calc(50% - 48px);
					}
				}

				
				
				.listen-videoscript {
					height: 188px;
					margin-top: 18px;
					border-radius: 20px;
					background-color: #fff;
					padding: 20px 30px;
					box-sizing: border-box;
				}
			}
		}

		.edit-profile-col-40 {
			width: 40%;
			flex-grow: 1;
			max-width: 40%;
			box-sizing: border-box;
		}
	}

	.login-container {
		.login-title {
			margin-left: 25px;
		}
		.login-form {
			height: auto;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 150px;

			form {
				width: 360px;
			}
		}
		.login-signup {
			text-align: center;
			margin-top: 63px;
		}
	}

	h2 {
		font-size: fontSizes.$twentytwo;
		line-height: 33px;
		margin-top: 0;
		margin-bottom: 27px;
		padding: 0;
		display: inline-block;
	}

	.video-gallery-container {
		padding: 40px 14px;
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		justify-content: flex-start;

		.video-preview-container {
			flex: 0 0 286px;
			text-align: center;
			margin-bottom: 15px;
			height: 238px;
			overflow: hidden;
			background-color: #f4f4f4;
			border-radius: 6px;
			padding: 5px;
			margin-right: 20px;
			position: relative;

			p {
				margin-top: 11px;
				margin-bottom: 0px;
				font-size: 16px;
				line-height: 18px;
				font-family: 'Roboto', 'Poppins', Arial, Helvetica, sans-serif;
			}

			button.edit-video {
				color: #666;
				position: absolute;
				background-color: transparent;
				font-size: 20px;
				font-weight: bold;
				top: 0;
				right: 10px;
			}
		}
	}
}

.plans {
	justify-content: space-between;
	width: 90%;
	margin-top: 50px;

	.plan-container {
		flex: 0 0 260px;
		font-size: fontSizes.$fourteen;
		line-height: 21px;
		color: #333;
		padding: 24px;
		position: relative;
		left: -20px;
		// transition: all 0.3s ease;

		h2 {
			margin-bottom: 20px;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-bottom: 20px;

			li.plan-option {
				justify-content: space-between;
				display: flex;
				align-items: flex-start;

				span {display: inline-block;width: 180px;position: relative;}
			}
		}

		.currency {
			font-size: 15px;
			font-weight: 700;
			color: colors.$DarkBlue;
			line-height: 45px;
		}

		.price {
			font-size: 30px;
			font-weight: 700;
			color: colors.$DarkBlue;
			line-height: 45px;
		}

		.currentPlan {
			color: colors.$DarkGreen;
			font-size: 20px;
			font-weight: 600;
		}

		&.selected {
			background-color: colors.$Green;
			color: colors.$White;
			border-radius: 10px;
			position: relative;
			top: -24px;

			.currency, .price  {
				color: colors.$White;
			}
		}
	}
}

.billing-container {
	margin-top: 57px;

	table {
		font-size: 15px;
		font-weight: 500;
		text-align: left;

		th, td {
			padding-right: 80px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		th {
			color: colors.$Grey;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
		}
	}
}

// Mobile Phone STYLES

@import 'styles/mobile';