/* CUSTOM RESPONSIVE STYLING RESPONSIVE */
/* I DECIDED TO NOT USE BOOTSTRAP OR FRAMEWORK TO BE MORE ON FOCUS ON THE OWN DEMO STYLE AND MORE LIGHTWEIGHT */
/* For desktop: GLOBAL ELEMENTS*/ 
.col-1 {width: 8.33%;} 
.col-2 {width: 16.66%;} 
.col-3 {width: 25%;} 
.col-4 {width: 33.33%;} 
.col-5 {width: 41.66%;} 
.col-6 {width: 50%;} 
.col-7 {width: 58.33%;} 
.col-8 {width: 66.66%;} 
.col-9 {width: 75%;} 
.col-10 {width: 83.33%;} 
.col-11 {width: 91.66%;} 
.col-12 {width: 100%;}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

[class*="col-"] {
	flex-grow: 1;
	max-width: 100%;
} 

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.disabled {opacity: 0.4;}

.accessibility-hidden {
	visibility: hidden;
	display: none;
	height: 0px;
	width: 0px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* ICONS */
.figma-icon {
	height: 44px;
	width: 44px;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;

	&.home {
		background-image: url('../public/images/logo.svg');
		background-size: 34px;
	}

	&.videos {
		background-image: url('../public/images/videos.svg');
		background-size: 44px;
	}

	&.editing {
		background-image: url('../public/images/editing.svg');
		background-size: 25px;
	}

	&.account {
		background-image: url('../public/images/account.svg');
		background-size: 46px;
		height: 46px;
		width: 46px;
	}
	
}

/* ACTORS */

.actor {
	width: 150px;
	height: 84px;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.anna {
		background-image: url('../public/images/Rectangle\ 3.png');
	}
	&.yoyo {
		background-image: url('../public/images/Rectangle\ 4.png');
		background-size: 150px;
	}
	&.skye {
		background-image: url('../public/images/Rectangle\ 5.png');
	}
	&.mike {
		background-image: url('../public/images/Rectangle\ 6.png');
	}
	&.vincent {
		background-image: url('../public/images/Rectangle\ 7.png');
	}
	&.peter {
		background-image: url('../public/images/Rectangle\ 8.png');
	}
	&.moy {
		background-image: url('../public/images/Rectangle\ 9.png');
	}

	&.big-picture {
		width: 100%;
		height: 393px;
		background-size: contain;
	}
}

/* STYLING */

.selection {
	ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;

		li {
			list-style: none;
			flex: 0 0 33.333333%;
		}
	}
}

.navigator-container {
	display: flex;
	flex-direction: column;
	align-content: center;

	.navigator-item {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (max-width: 768px) { 
	/* For mobile phones: */ 
	[class*="col-"] { 
		width: 90%;
		margin-top: 35px;
		margin-bottom: 10px;
		flex-grow: 1;
	}

	.flex-container {
		display: block;
		flex-direction: none;
		flex-wrap: none;
	}
}
